
/*style form input file*/
.media-body {
    -ms-flex: 1;
    flex: 1;
}

.uniform-uploader {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.uniform-uploader input[type=file] {
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: calc(1.5385em + .875rem + 2px);
    border: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.uniform-uploader .filename {
    width: 50px;
    color: #333;
    line-height: 25px;
    padding: .4375rem .875rem;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: #fff;
    text-align: left;
    word-break: break-word;
    border-top-left-radius: .1875rem;
    border-bottom-left-radius: .1875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uniform-uploader .action {
    z-index: 1;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}

.form-text {
    display: block;
    margin-top: .5rem;
}

.bg-pink-400 {
    background-color: #ec407a;
}
/*END style form input file*/


.table thead th {
    text-transform: unset;
}

.breadcrumbs {
    margin-left: 0 !important;
    border-left: none;
    padding-left: 0;
}

/*style custom*/
.switchery {
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    line-height: 1;
    width: 2.25rem;
    height: 1.125rem;
    position: relative;
    box-sizing: content-box;
    border-radius: 100px
}

.form-check-switchery .switchery {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: .00002rem
}

.form-check-switchery.disabled .switchery {
    cursor: default
}

.switchery>small {
    background-color: #fff;
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-radius: 100px
}

.form-check-switchery:not(.dropdown-item) {
    padding-left: 3rem
}

.form-check-switchery:not(.dropdown-item).form-check-right {
    padding-left: 0;
    padding-right: 3rem
}

.form-check-switchery:not(.dropdown-item).form-check-right .switchery {
    left: auto;
    right: 0
}

.form-check-switchery-double.form-check-switchery {
    padding-left: 0;
    padding-right: 0
}

.form-check-switchery-double.form-check-switchery .switchery {
    margin-top: 0
}

.form-check-switchery-double .form-check-label {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center
}

.form-check-switchery-double .switchery {
    position: relative;
    margin-left: .625rem;
    margin-right: .625rem
}

.form-check-switchery-double input {
    margin-left: .625rem;
    margin-right: .625rem
}

.dropdown-item.form-check-switchery .form-check-label {
    padding-left: 4.375rem
}

.dropdown-item.form-check-switchery .switchery {
    top: 50%;
    left: 1rem;
    margin-top: -.625rem
}

.dropdown-item.form-check-right.form-check-switchery .form-check-label {
    padding-right: 4.375rem
}

.dropdown-item.form-check-right.form-check-switchery .switchery {
    left: auto;
    right: 1rem
}

.form-check-switchery {
    position: relative
}

.form-check-switchery .switchery {
    background-color: #f9f9f9;
    border-color: #dfdfdf;
    box-shadow: #dfdfdf 0px 0px 0px 0px inset;
    transition: border 0.45s ease 0s, box-shadow 0.4s ease 0s;
}

.form-check-switchery .switchery small {
    left: 0;
    transition: background-color 0.45s ease 0s, left 0.2s ease 0s;
    background-color: rgb(255, 255, 255);
}

.form-check-switchery .form-check-input-switchery:checked + .switchery small {
    left: 18px;
    transition: background-color 0.45s ease 0s, left 0.2s ease 0s;
}

.form-check-switchery .form-check-input-switchery:checked + .switchery {
    background-color: #9a9a9a;
    border-color: #9a9a9a;
    box-shadow: #9a9a9a 0px 0px 0px 10px inset;
    transition: border 0.45s ease 0s, box-shadow 0.4s ease 0s;
}

.form-check-switchery .form-check-input-switchery:checked + .switchery-primary {
    background-color: #2196F3;
    border-color: #2196F3;
    box-shadow: #2196F3 0px 0px 0px 10px inset;
}

.form-check-switchery .form-check-input-switchery:checked + .switchery-danger {
    background-color: #EF5350;
    border-color: #EF5350;
    box-shadow: #EF5350 0px 0px 0px 10px inset;
}

.form-check-switchery .form-check-input-switchery:checked + .switchery-warning {
    background-color: #FF7043;
    border-color: #FF7043;
    box-shadow: #FF7043 0px 0px 0px 10px inset;
}

.form-check-switchery .form-check-input-switchery:checked + .switchery-infor {
    background-color: #00BCD4;
    border-color: #00BCD4;
    box-shadow: #00BCD4 0px 0px 0px 10px inset;
}

.form-check-switchery .form-check-input-switchery:checked + .switchery-success {
    background-color: #64bd63;
    border-color: #64bd63;
    box-shadow: #64bd63 0px 0px 0px 10px inset;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}
.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
.upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}
/*end style custom*/

/*customer style product*/
.product-item-image {
    position: relative;
    width: 100%;
    padding-bottom: 150%; /* Adjust this to maintain aspect ratio */
    overflow: hidden;
}

.product-item-image picture,
.product-item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the image cover the container's area */
    display: block;
}
/*end customer style product*/

